*,
*::before,
*::after {
  scroll-behavior: smooth;
}

*:hover {
  transition: all 400ms ease;
}

html {
  -webkit-tap-highlight-color: rgba(7, 64, 110, 0);
  height: -webkit-fill-available;
}

h1, h2,{
  color: theme('colors.darkblue');
}

 h3 {
  color: theme('colors.blue');
}
h4 {
  color: theme('colors.green');
}

a {
  color: theme('colors.green');
}

body {
  height: -webkit-fill-available;
}

ol {
  padding: revert !important;
}

ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  -webkit-padding-start: 0;
}

li::before .list-header {
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  -webkit-padding-start: 0;
  
}

li::before .list-none {
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  -webkit-padding-start: 0;
}

li::before .p-1 {
  list-style-type: none;
  margin-left: 0em;
  padding: 0;
  padding-left: 0;
}


ul li::before  {
  color: theme('colors.yellow');
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: 0em; /* Also needed for space (tweak if needed) */
}



hr {
  margin-left:2.5% !important;
  margin-right:2.5% !important;
  width:95%;
  height: 18px;
  background-color: theme('colors.yellow');
  border-top: 20px solid theme('colors.yellow');
 }

/* Header */
#header {
  background-color: theme('colors.darkblue');
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}


#header-filler {
  height: 58px;
}

main > div {
  scroll-margin-top: 58px;
}

/* Scrollbar */
@media (min-width: 500px) {
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f7fa;
  }

  body::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f7fa;
  }

  body::-webkit-scrollbar-thumb {
    background-color: grey;
  }
}

/* Scroll indicator */
.progress-container {
  position: fixed;
  left: 0;
  top: 58px;
  width: 100%;
  height: 5px;
  background: theme('colors.darkblue');
}

.progress-bar {
  height: 5px;
  background: theme('colors.blue');
  width: 0%;
}

/* Responsive navigation */
.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: theme('colors.blue');
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: theme('colors.darkblue');
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
  }

.open .hamburger__top-bun {
  transform: rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  transform: rotate(-45deg) translateY(0px);
}

@keyframes change {
  0%,
  7.14%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  14.28% {
    transform: translate3d(0, -15%, 0);
  }
  21.42% {
    transform: translate3d(0, -35%, 0);
  }
  28.57% {
    transform: translate3d(0, -50%, 0);
  }
  42.85% {
    transform: translate3d(0, -70%, 0);
  }
  53.5% {
    transform: translate3d(0, -85%, 0);
  }
  64.28% {
    transform: translate3d(0, -70%, 0);
  }
  71.42% {
    transform: translate3d(0, -50%, 0);
  }
  85.71% {
    transform: translate3d(0, -35%, 0);
  }
  92.85% {
    transform: translate3d(0, -15%, 0);
  }
}

/* article {content-visibility: auto;} */
article img {width:100%; height:auto;}

/* Poole & Hyde default CSS does not pass today's lighthouse tests */



.sidebar-nav-item {line-height: 2.75;}
@media (min-width: 48em) {
  .sidebar-nav-item {line-height: 1.75;}
}

/* v1.0.0  WCAG2AA sidebar & example-content page */
.sidebar {color: theme('colors.yellow');}
blockquote {color: theme('colors.green')}  /* darken(#7a7a7a, 8%) */
code {color: #b04751;}        /* darken(#bf616a, 8%) */

/* Every base-16 set has to be reset */
.theme-base-08 .sidebar {background-color: theme('colors.blue');} /* darken(#ac4142, 20%) */
.theme-base-08 .content a, .theme-base-08 .related-posts li a:hover {color: theme('colors.pink');} /* Ok */


/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size:1.2rem;
  font-style: bold;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: theme('colors.blue');
  padding: 16px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 1px;
  padding-left: 10px;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: theme('colors.blue');
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 10px;
  padding-left: 1.1em;
  background-color: theme('colors.green');
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: theme('colors.green');
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}